@import '../../assets/styles/helpers.scss';
@import '../../assets/styles/variables.scss';

.card {
  max-width: 196px;
  &__avatar {
    display: block;
    @include square(196px);
    border-radius: 10px;
    margin-bottom: 12px;
  }
  &__connect-button {
    background: $mainPinkColor;
    padding: 8px 0;
    margin-bottom: 20px;
    width: 100%;
    height: 48px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    line-height: 200%;
    cursor: pointer;
    transition: background-color 0.4s ease;
    &:hover {
      background-color: #cc10cf;
    }
    &:active {
      background-color: transparent;
      color: $mainPinkColor;
      border-color: $mainPinkColor;
    }
  }
  &__token {
    text-align: center;
    margin-bottom: 12px;
  }
  &__counter {
    margin-bottom: 118px;
  }
}
