.navigation {
  &__list {
    display: flex;
    &-item:not(:last-child) {
      margin-right: 35px;
    }
    &-link {
      font-size: 18px;
    }
  }
  &__burger {
    width: 20px;
    height: 17px;

    border-radius: 4px;
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 20px;
      border-radius: 4px;
      height: 4px;
      background: #fff;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    &-center {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 20px;
      border-radius: 4px;
      height: 3px;
      background: #fff;
    }
  }
}
